
  @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    margin: 0;
    background-image: url(background.gif);
    font-family: 'customfont', sans-serif;
  }

@font-face{
    font-family: customfont;
    src:url('heavy_data.ttf');
}

h2 {
    font-family: 'customfont', sans-serif;
    font-size: 30px;
    color: #fff;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding: 20px; 
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff;
    width: max-content;
}


#animatedText {
    position: relative;
}

#animatedText.highlight {
    background-color: red; 
    transition: background-color 1s ease-in;
}

.nickname-input{
    width: 25vh;
    box-shadow: 0 0 5px #fff;
    padding: 10px; 
    border-radius: 20px;
}

#nickname{
    font-family: 'Share Tech Mono', monospace;
    font-size: 12px;
}


.submit-button {
    padding: 10px 20px;
    font-family: 'Share Tech Mono', monospace;
    background-color: #fff; 
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: red; 
}

